body{
    background-color: grey;
    color:black;
    font-family: sans-serif;
}
h1{

    color:black;
    font-family: sans-serif;
}
h2{

    color:black;
    font-family: sans-serif;
}

h3{

    color:rgb(61, 87, 173);
    font-family: sans-serif;
    font-family:'lobster'
}

ul{
    color:black;
    background-color: whhite;
}

#p23{
    color: rgb(7, 3, 6);
    
}

#p22{
    color: rgb(14, 7, 12);
    font-family:'lobster'
}

#p17{
    color:rgb(61, 87, 173);
    font-family: sans-serif;
    font-family:'lobster'
}

#p19{
    font-size: 60px;
    color:rgb(61, 87, 173);
    font-family: sans-serif;
    font-family:'lobster'
}

#p18{
    font-size: 40px;
    color:rgb(16, 20, 34);
    font-family: sans-serif;
    font-family:'lobster'
    f
}

